<% title='Product List' %>


  <h1>Product List</h1>


  <% if (data.length > 0) { %>
    <table>
      <thead>
        <tr>
          <th>productname</th>
          <th>quantity</th>
          <th>Price</th>
          <th colspan="2">Action</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(product => { %>
          <tr>
            <td><%= product.productname %></td>
            <td><%= product.quantity %></td>
            <td><%= product.price %></td>
            <td><a href="update_product/<%= product._id %>" value="edit" type="submit">Edit</a></td>
            <td><a href="delete_product/<%= product._id %>" value="delete" type="submit">Delete</a></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <p>No Products found.</p>
  <% } %>